#galery,.glyh{
  margin: 0 auto;
  width: 75%;
}
#mindv,#minln{
  background: #E88A02;
  height: 0.25em;
  width: 3em;
}
.alianzz{
  background: #EBEBEB;
  margin-bottom: -1em;
}
.botonInt{
  display: flex;
  margin: 2em 0;
}
  .botonInt #colF{
    background: #007031;
    border-radius: 8px;
    color: #fff;
    padding: 0.5em 1em;
    font-size: 18px;
    text-decoration: none;
  }
  .botonInt #colF:hover,.botonInt #colF:active{
    background: #005FA7;
  }
.descG{
  padding: 2em 0 3em 0;
}
  .descG h2{
    background: #E88A02;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
  }
.flxcol{
  display: flex;
  flex-direction: column;
  padding: 3em 0;
}
  .flxcol .fgpl{
    border-bottom: 1px solid #F1F1F1;
    border-top: 1px solid #F1F1F1;
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    padding: 1em 0;
    width: 90%;
  }
    .flxcol .fgpl div{
      width: 30%;
    }
      .flxcol .fgpl a{
        color: #088BCF;
      }
       .flxcol .fgpl a:visited{color: #007131;}
      .flxcol .fgpl div img{width: 100%;}
    .flxcol .fgpl figcaption{
      width: 67%;
    }
      .flxcol .fgpl figcaption h2{
        background: #E6F3FC;
        padding: 0.25em 1em;
      }
.fondcontx{
  background-size: cover;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
  .fondcontx article{
    padding: 10em 0;
    width: 40%;
  }
    .fondcontx article a{
      background: #E88A02;
      border-radius: 3px;
      color: #fff;
      padding: 0.5em 1em;
      text-decoration: none;
    }
    .fondcontx article a:hover,.fondcontx article a:active{
      background: #CC790B;
    }
    .fondcontx article hgroup{
      color: #fff;
      text-shadow: 0 0 3px #000;
    }
      .fondcontx article hgroup h2{
        font-size: 42px;
        text-transform: uppercase;
        margin: 0;
      }
      .fondcontx article hgroup h3{
        font-size: 25px;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0;
      }
    .fondcontx article p{
      text-shadow: 0 0 3px rgba(255,255,255,0.9);
    }
.NS,.PLN{
  padding: 3em 0;
}
  .NS article,.NS h2,.PLN figure{
    margin: 1em auto;
    width: 90%;
  }
  .NS h2{
    border-top: 3px solid #E88A02;
    color: #3D3D3D;
    padding: 1em 0;
    text-transform: uppercase;
  }
  .NS p{
    text-align: justify;
  }
    .PLN figure img:hover,.flxcol .fgpl div img:hover{
      -webkit-filter: sepia(60%);
      -moz-filter: sepia(60%);
      -ms-filter: sepia(60%);
      filter: sepia(60%);
    }
  .PLN h2{
    border-bottom: 3px solid #E88A02;
    color: #3D3D3D;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
  }
  .PLN .slvr{
    display: flex;
    justify-content: center;
  }
    .PLN .slvr a{
      background: #FCE17D;
      border-radius: 8px;  
      color: #000;
      padding: 0.5em 1em;
      text-decoration: none;
    }
    .PLN .slvr a:hover,.PLN .slvr a:active{
      background:#E88700;
    }
.planflx{
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-justify-content: space-between;
  -wkit-justify-content: space-between;
  justify-content: space-between;
}
  .planflx figure{
    width: 30%;
  }
    .planflx figure img{
      transition: all 0.25s ease;
    }
    .planflx figure img:hover{
      transform: rotate(5deg);
    }
    .planflx figure figcaption{
      padding: 0 0 1em 0;
    }
    .planflx h3{
      text-transform: uppercase;
    }
    .planflx p{color: #8E8E8E;}
    .planflx h3,.planflx p{
      margin: 0;
    }
  .textg table{
    border:1px solid #000;
    border-collapse: collapse;
    margin: 0 auto;
  }
    .textg table td{
      border:1px solid #000;
    }
.tpar{
  padding: 1em 0;
}
  .tpar h2{
    background: #E88A02;
    border-bottom: 1px solid #FCE68F;
    color: #fff;
    cursor: pointer;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  .tpar h2:hover,.tpar h2:active{
    background: #004C9B;
  }
.verarch{
  display: flex;
  flex-direction: column;
}
  .verarch a{
    background: #FACD40;
    color: #fff;
    margin: 0.25em 0;
    padding: 0.5em 1em;
    text-decoration: none;
    width: 80%;
  }
  .verarch a:hover,.verarch a:active{
    background: #0055A1;
  }
  .verarch a:visited{
    background: #FDEFB4;
    color: #000;
  }
/* Divider Styles */
.code-wrapper {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  background: url("code.jpg") no-repeat;
}
  .design-wrapper, .design-image {
    border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
  }
  .design-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
    .design-image {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background: url("design.jpg") no-repeat;
    }
.divider-wrapper { 
  height: 700px;
  margin: 0 auto 0.25em auto;
  position: relative;
}
.divider-wrapper:hover {cursor: none;}
  .divider-bar {
    position: absolute;
    width: 4px;
    left: 50%;
    top: -10px;
    bottom: -15px;
    background-image: -webkit-linear-gradient(top,rgba(59,144,203,0) 0,#64b700 2%,#64b700 98%,rgba(59,144,203,0) 100%);
    background-image: -moz-linear-gradient(top,rgba(59,144,203,0) 0,#64b700 2%,#64b700 98%,rgba(59,144,203,0) 100%);
    background-image: -o-linear-gradient(top,rgba(59,144,203,0) 0,#64b700 2%,#64b700 98%,rgba(59,144,203,0) 100%);
    background-image: linear-gradient(to bottom,rgba(59,144,203,0) 0,#64b700 2%,#64b700 98%,rgba(59,144,203,0) 100%); 
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.4); 
    -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
  }
/*---------------------------------------------------*/
@media screen and (max-width: 700px){
    .botonInt #colF
    {
      text-align: center;
      width: 90%;
    }
  .fondcontx{
    justify-content: initial;
  }
    .fondcontx article{
      margin: 0 auto;
      width: 90%;
    }
      .fondcontx article hgroup h2{
        font-size: 32px;
      }
      .fondcontx article hgroup h3{
        font-size: 18px;
      }
    .planflx figure{
      margin: 1em 1em;
      width: 40%;
    }
    .verarch a{
      width: 100%;
    }
}
@media screen and (max-width: 500px){
  .planflx figure{
    margin: 1em auto;
    width: 90%;
  }
}