#dslmf{
	background: #EA8D0A;
	color: #fff;
	padding: 0.5em 0;
	text-decoration: none;
}
#dslmf:hover,#dslmf:active{
	background: #0055A1;
}
#mnS{
	background: #0055A1;
	display: flex;
	justify-content: space-around;
}
	#mnS a{
		color: #fff;
		padding: 0.5em;
		text-decoration: none;
	}
	#mnS a:hover,#mnS a:active{
		background: #EA8D0A;
	}
#numcar{
	color: #008FD5;
}
.achdf{
	width: 25%;
}
.archwd{
	margin-bottom: 1em;
	width: 30%;
}
.cirT{
	align-items: center;
	display: flex;
	justify-content: center;
}
	.cirT #circ{
		align-items: center;
		border-radius: 100%;
		background: #0074B3;
		color: #fff;
		display: flex;
		font-size: 30px;
		height: 140px;
		justify-content: center;
		text-transform: uppercase;
		width: 140px;
	}
.coult{
	display: none;
}
.doll,.dull{
	background: #CD0000;
	color: #fff;
	text-decoration: none;
}
.doll:hover,.dull:hover,.doll:active,.dull:active{
	background: #FF2415;
}
.fla{
	display: flex;
	justify-content: space-between;
	padding-bottom: 3em;
}
.flB{
	display: flex;
	padding: 3em 0;
	flex-wrap: wrap;
	justify-content: space-between;
}
	.flB article{
		margin-bottom: 2em;
	}
	.flB figure{
		margin-bottom: 2em;
		width: 30%;
	}
	.flB h2{
		text-align: center;
	}
.hda{
	color: #F6B52A;
	margin: 0;
	padding: 2em 0;
}
.padsec{
	padding: 2em 0;
}
@media screen and (max-width: 800px){
	#mnS{
		flex-direction: column;
		text-align: center;
	}
	.cirT{
		display: none;
	}
	.fla,.flB{
		justify-content: space-around;
	}
		.flB figure,.archwd,.achdf{
			width: 40%;
		}
}
@media screen and (max-width: 500px){
	.fla,.flB{
		flex-direction: column;
	}
		.fla article{
			margin: 1em;
		}
		.flB figure,.flB article,.archwd,.achdf{
			margin: 1em auto;
			width: 90%;
		}
}